---
import Layout from "@/layouts/Layout.astro";
import CreateSongForm from "@/components/CreateSongForm";
---

<Layout title="Create Song">
	<div>
        <CreateSongForm client:load />
  </div>
</Layout>