---
import Layout from "@/layouts/Layout.astro";
import CreatePlaylistForm from "@/components/CreatePlaylistForm";
---

<Layout title="Create Playlist">
	<div>
        <CreatePlaylistForm client:load playlistId="" />
  </div>
</Layout>