---
// AsiteMenu.astro
import LibraryIcon from "../icons/Library.astro";
import HomeIcon from "../icons/Home.astro";
import SearchIcon from "../icons/Search.astro";
import SideMenuItem from "./SideMenuItem.astro";
import SideMenuCard from "./SideMenuCard.astro";

// Importar la función de Firebase
import { fetchAllPlaylists } from "../lib/data";

const playlists = await fetchAllPlaylists();
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
        Inicio
      </SideMenuItem>

      <SideMenuItem href="/#">
        <SearchIcon />
        Buscar
      </SideMenuItem>
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
      <SideMenuItem href="/">
        <LibraryIcon />
        Tu biblioteca
      </SideMenuItem>

      <!-- Renderizar playlists de Firebase -->
      {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}

      <a
        href="/createPlaylist"
        class="inline-block mt-5 px-4 py-2 bg-green-600 text-white font-semibold rounded-full hover:bg-green-700 transition duration-200 ease-in-out shadow-md focus:outline-none focus:ring-2 focus:ring-green-500"
      >
        + Crear playlist
      </a>
    </ul>
  </div>
</nav>
